

.background{
    background-color:#fceae8;

margin: 0;
 

}

nav img{

    width: 15em;
}
nav{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #fceae8;
    
}

.nav-col{
    position: relative;
    margin-left: 10em;
}

h1{
        font-size: 40px;
        text-transform: uppercase;
    
    }
    h3{
        text-transform: uppercase;
    }
    h4 , .promo{
        color: orange;
    
    }
    .headline-color{
        color: orange;
    }
    .button{
        text-decoration: none;
        background-image:linear-gradient(45deg, rgb(163, 180, 5), rgb(0, 255, 13));
        color: white;
        padding: 10px 30px;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: bold;
        
    }

    .panda-card{
        border: 0;
    }
    .panda-card-footer{
        background-color: white;
        border: 0;
        
    }
    .btn img{
        width: 30px;
    }
    .card-img{
        width: 1px;
        position: relative;
        margin: 10px;
        padding: 10px;
        

    }
    .casual{
        background-color: rgba(128, 128, 128, 0.171);
        border-radius: 10px;
    
    }

/* bonus area */
.ptb-50{
    padding: 50px 50px;
}

.section_bg_gray {
    background-color: #f3f5f7;
}

.single_what_we_do {
    background-color: #ffffff;
    text-align: center;
    padding: 0 35px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
   
}
.single_what_we_do:hover {
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.single_what_we_do .top_line {
    position: absolute;
    top: 0;
    left: 44%;
    background-color: #8448ff;
    width: 12%;
    height: 3px;
}

.single_what_we_do .what_we_do_figure {
    padding: 40px 0;
}
.single_what_we_do .what_we_do_figure img {
    margin: 0 auto;
}
.single_what_we_do .what_we_do_title {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 35px;
    margin: 0;
    color: #2b353a;
}
.single_what_we_do .what_we_do_content {
    padding-bottom: 65px;
    color: #2b353a;
}
 .single_what_we_do .what_we_do_icon {
    position: absolute;
    bottom: -9px;
    left: 47%;
    color: #fff;
    background-color: #8448ff;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
   
}

.single_what_we_do .what_we_do_icon i {
    font-size: 24px;
    text-align: center;
    padding: 2px 3px 2px 5px;
}
/* end bonus area */